<div class="collaborator-form">
  <h2>{{ isEditMode ? 'Modifier Collaborateur' : 'Ajouter Collaborateur' }}</h2>
  <form (ngSubmit)="saveCollaborator()" #collaboratorForm="ngForm">
    <label>
      Prénom :
      <input type="text" id="firstName" [(ngModel)]="collaborator.firstName" name="firstName" required />
    </label>
    <label>
      Nom :
      <input type="text" id="lastName" [(ngModel)]="collaborator.lastName" name="lastName" required />
    </label>
    <label>
      Email :
      <input type="email" id="email" [(ngModel)]="collaborator.email" name="email" required />
    </label>
    <label>
      Poste :
      <input type="text" id="position" [(ngModel)]="collaborator.position" name="position" required />
    </label>
    <button type="submit" [disabled]="!collaboratorForm.form.valid">
      {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
    </button>
  </form>
</div>
