<div class="collaborator-list">
  <h2>Liste des Collaborateurs</h2>
  <a routerLink="/add" class="btn btn-primary">Ajouter un Collaborateur</a>

  <table>
    <thead>
    <tr>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Poste</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let collaborator of collaborators">
      <td>{{ collaborator.firstName }}</td>
      <td>{{ collaborator.lastName }}</td>
      <td>{{ collaborator.email }}</td>
      <td>{{ collaborator.position }}</td>
      <td>
        <a [routerLink]="['/details', collaborator.id]">Voir Détails</a>
        <button class="edit-btn" (click)="editCollaborator(collaborator.id!)">Modifier</button>
        <button class="delete-btn" (click)="deleteCollaborator(collaborator.id!)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
